@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 60%, 98%);
    padding: 2em 0em;
}

.container {
    padding: 1em;
    background-color: hsl(0, 0%, 100%);
    max-width: 600px;
    border-radius: 10px;
}

.notification_no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

h1 {
    font-size: 1.5em;
}

.number {
    margin-left: .5em;
    padding: 0em .4em;
    font-size: .8em;
    border-radius: 5px;
    background-color: hsl(219, 85%, 26%);
    color: #ffff;
}

.mark-as_read {
    text-decoration: none;
    font-size: 1em;
    color: hsl(219, 12%, 42%);
}

.notification {
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    gap: .7em;
    background-color: hsl(210, 60%, 98%);
    padding: 1em;
    border-radius: 5px;
    max-width: 600px;
    margin-bottom: 1em;
}


.pfp {
    width: 40px;
    height: 40px;
}


.text {
    font-size: .9em;
    color: hsl(219, 12%, 42%);
    font-weight: 550;
}

.noun {
    font-weight: 800;
    color: #000;
}

.verb {
    color: (219, 12%, 42%);
    font-weight: 800;
}

.icon {
  height: 10px;
  width: 10px;
  background-color: hsl(1, 90%, 64%);
  border-radius: 50%;
  display: inline-block;
}

.time {
    color: hsl(219, 14%, 63%);
    font-weight: 500;
}


.chess {
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}


.private-msg {
    margin-top: 2em;
    border: 1px solid hsl(205, 33%, 90%);
    padding: 1em;
}

.chess-img {
    width: 40px;
    height: 40px;
}

.background-diffrence {
    background-color: hsl(0, 0%, 100%);
}

